body {
    background-color: #f8f9fa;
    font-family: 'Inter', sans-serif;
    margin: 0; /* Remove default margin */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 600px; /* Increased the max-width */
    margin: 0 auto; /* Center the container horizontally */
}

.logo {
    margin-top: 20px; /* Added spacing from the top */
    margin-left: 20px; /* Added spacing from the left */
    max-width: 100%; /* Adjusted the size to fit container width */
    height: auto; /* Maintain aspect ratio */
}

.forgot-password-form {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Added spacing from the top */
}

.forgot-password-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.forgot-password-form .button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 16px; /* Optional: Adjust font size as needed */
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Align buttons correctly */
}

.continue-button {
    background-color: #f04438;
    border: 1px solid #f04438;
}

.cancel-button {
    background-color: grey;
    border: 1px solid grey;
}



.text-center {
    text-align: center;
}