{% extends 'customadmin/nav.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Admin Dashboard{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard_common.css' %}" />

<!-- Dashboard Container -->
<div class="outer-div">
    <div class="my-5">
        <h1>Admin Dashboard</h1>
    </div>
    <div class="dashboard-container">
        <!-- Total Users Card -->
        <div class="inner-div card bg-light col-lg-4 col-md-6">
          <a href="{% url 'customadmin:user-management' %}">
              <div class="card-body icon-text">
                  <div>
                      <i class="fa-solid fa-users"></i>
                      <p class="heading" >Total Users</p>
                      <p class="numbers"><b>{{ total_user }}</b></p>
                  </div>
              </div>
          </a>
      </div>
        <!-- Total Devices Card -->
        <div class="inner-div card bg-light col-lg-4 col-md-6">
            <a href="{% url 'customadmin:button_management' %}">
                <div class="card-body icon-text">
                    <div>
                        <i class="fa-solid fa-blender-phone"></i>
                        <p class="heading" >Total Button</p>
                        <p class="numbers"><b>{{ total_devices }}</b></p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Total Devices Card -->
        <div class="inner-div card bg-light col-lg-4 col-md-6">
            <a href="{% url 'customadmin:button_management' %}">
                <div class="card-body icon-text">
                    <div>
                        <i class="fa-solid fa-blender-phone"></i>
                        <p class="heading" >Total Active Button</p>
                        <p class="numbers"><b>{{ total_active_device }}</b></p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Total Devices Card -->
        <div class="inner-div card bg-light col-lg-4 col-md-6">
            <a href="{% url 'customadmin:button_management' %}">
                <div class="card-body icon-text">
                    <div>
                        <i class="fa-solid fa-blender-phone"></i>
                        <p class="heading" >Total Blocked Button</p>
                        <p class="numbers"><b>{{ total_inactive_device }}</b></p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Total Devices Card -->
        <div class="inner-div card bg-light col-lg-4 col-md-6">
            <a href="">
                <div class="card-body icon-text">
                    <div>
                        <i class="fa-solid fa-address-book"></i>
                        <p class="heading" >Total Contacts</p>
                        <p class="numbers"><b>{{ total_contacts }}</b></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="inner-div card bg-light col-lg-4 col-md-6">
            <a href="{% url 'customadmin:transaction_history' %}">
                <div class="card-body icon-text">
                    <div><i class="fa-solid fa-hand-holding-dollar"></i>
                        <p class="heading" >Total Transactions</p>
                        <p class="numbers"><b>{{ total_transactions }}</b></p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Total Devices Card -->
        <div class="inner-div card bg-light col-lg-4 col-md-6">
            <a href="{% url 'customadmin:transaction_history' %}">
                <div class="card-body icon-text">
                    <div><i class="fa-solid fa-hand-holding-dollar"></i>
                        <p class="heading" >Total Plan Purchased</p>
                        <p class="numbers"><b>{{ total_plan_purchased }}</b></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="inner-div card bg-light col-lg-4 col-md-6">
            <a href="{% url 'customadmin:transaction_history' %}">
                <div class="card-body icon-text">
                    <div><i class="fa-solid fa-hand-holding-dollar"></i>
                        <p class="heading" >Total Revenue</p>
                        <p class="numbers"><b>{{ total_amount }}</b></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="inner-div card bg-light col-lg-4 col-md-6">
            <a href="{% url 'customadmin:button_management' %}">
                <div class="card-body icon-text">
                    <div>
                        <i class="fa-solid fa-comment-sms"></i>
                        <p class="heading" >Total SMS Event Triggered</p>
                        <p class="numbers"><b>{{ total_sms_event_triggered }}</b></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="inner-div card bg-light col-lg-4 col-md-6">
            <a href="{% url 'customadmin:all_video_list' %}">
                <div class="card-body icon-text">
                    <div>
                        <i class="fa-solid fa-video"></i>
                        <p class="heading" >Total Events Videos</p>
                        <p class="numbers"><b>{{ total_event_videos }}</b></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="inner-div card bg-light col-lg-4 col-md-6">
            <a href="{% url 'customadmin:user-management' %}">
                <div class="card-body icon-text">
                    <div>
                        <i class="fa-solid fa-user-plus"></i>
                        <p class="heading" >Recent Onboarded Users</p>
                        <p class="numbers"><b>{{ recent_onboarded_users }}</b></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Filters and Actions -->
<div class="my-5 d-flex flex-column flex-md-row justify-content-between" id="header">
  <h1>List of Users</h1>
</div>


<div class="col-md-12 new-class">
    <form method="get" class="row g-3">
        <div class="form-row">
            <div class="form-group col-md-6 col-lg-4 col-xl-3">
              <label for="username" class="mr-2">Search:</label>
              <input type="text" class="form-control" id="search-bar" name="username" maxlength="20" value="{{ username_filter }}"
                placeholder="Search By User Name" onkeyup="applyFiltersWithDelay()">
            </div>
      
            <div class="form-group col-md-6 col-lg-3 col-xl-2">
                <label for="date_from" class="mr-2">From:</label>
                <input type="datetime-local" class="form-control" id="start-date-selector" name="date_from" value="{{ date_from_filter }}" max="{{ today_date }}" onchange="applyFiltersWithDelay()">
              </div>
              
              <div class="form-group col-md-6 col-lg-3 col-xl-2">
                <label for="date_to" class="mr-2">To:</label>
                <input type="datetime-local" class="form-control" id="end-date-selector" name="date_to" value="{{ date_to_filter }}" min="{{ date_from_filter }}" max="{{ today_date }}" onchange="applyFiltersWithDelay()">
              </div>
              
      
            <div class="form-group col-md-6 col-lg-3 col-xl-1">
              <label for="status" class="mr-2">Status:</label>
              <select class="form-control" id="status-select" name="status" onchange="applyFiltersWithDelay()">
                  <option value="All" {% if status_filter == 'All' %}selected{% endif %}>All</option>
                  <option value="Active" {% if status_filter == 'Active' %}selected{% endif %}>Active</option>
                  <option value="Blocked" {% if status_filter == 'Blocked' %}selected{% endif %}>Blocked</option>
              </select>
            </div>
      
            <div class="form-group col-md-6 col-lg-3 col-xl-1 clear-div">
              <button type="button" class="btn btn-secondary btn-block mb-2 mt-md-0" id="clear-button"
                onclick="clearFilters()" {% if not username_filter and not date_from_filter and not date_to_filter and status_filter == 'All' %}disabled{% endif %}>Clear</button>
            </div>
            <div class="form-group col-md-6 col-lg-3 col-xl-1 clear-div">
                <button type="submit" style="background-color: #f04438; color: white; text-decoration: none;" class="btn  btn-block mb-2 mt-md-0" id="clear-button">Search</button>
              </div>
      
            <div class="form-group col-md-6 col-lg-3 col-xl-2 download-csv">
                <a href="{% url 'customadmin:download_user_csv' %}?device_name={{ device_name_filter }}&date_from={{ date_from_filter }}&date_to={{ date_to_filter }}&status={{ status_filter }}" class="btn btn-primary btn-block mb-2 mt-md-0" id="download-csv-button">
                    <span id="loader" style="display:none;"><i class="fa fa-spinner fa-spin"></i></span>
                    Download CSV
                </a>
            </div>
          </div>
    </form>

    <!-- Users Table -->
    <div class="table-container mt-4 text-left">
        {% if users %}
        <table class="table table-hover" style="width: 100%; border-collapse: collapse;">
            <thead style="background-color: #f04438; color: white;">
                <tr>
                    <th>Sr. No.</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Total Buttons</th>
                    <th>Created Date & Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ users.start_index|add:forloop.counter0 }}</td>
                    <td>{{ user.username|truncatechars:20 }}</td>
                    <td>{{ user.email|truncatechars:30 }}</td>
                    <td>{{ user.phone_number|default:"N/A" }}</td>
                    <td>{{ user_devices_count|get_item:user.id }}</td>
                    <td>{{ user.created_at|date:"M d, Y, g:i A" }}</td>
                    <td>
                        {% if user.is_active %}
                        <p class="text-success">Active</p>
                        {% else %}
                        <p class="text-danger">Blocked</p>
                        {% endif %}
                    </td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'customadmin:user-view' user.uuid %}" class="mr-1" title="View User Details">
                                <i class="fas fa-eye" style="font-size: 24px; color: #f04438;"></i>
                            </a>
                            <a href="{% url 'customadmin:edit_user' uuid=user.uuid %}" title="Edit User">
                                <i class="fas fa-edit mr-1" style="font-size: 24px; color: #f04438;"></i>
                            </a>
                            {% if user.is_active %}
                            <a href="javascript:void(0);" onclick="showStatusBlockPopup('{% url 'customadmin:block_user' user.uuid %}')" title="Block User">
                                <i class="fas fa-ban" style="font-size: 24px; color: #41b241;"></i>
                            </a>
                            {% else %}
                            <a href="javascript:void(0);" onclick="showStatusUnblockPopup('{% url 'customadmin:unblock_user' user.uuid %}')" title="Unblock User">
                                <i class="fas fa-check-circle" style="font-size: 24px; color: #a7364b;"></i>
                            </a>
                            {% endif %}
                            <a href="#" onclick="showDeleteUserPopup('{% url 'customadmin:delete_user' user.uuid %}')">
                                <i class="fa fa-trash" style="font-size: 24px; color: #a7364b;"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="no-data text-center">
            <img src="{% static 'images/no_data.jpg' %}" alt="No data available" style="max-width: 40%; height: auto;">
        </div>
        {% endif %}
    </div>

    <!-- Pagination -->
    {% if users.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation" class="pagination-container">
        <ul class="pagination">
            {% if users.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?username={{ username_filter }}&date_from={{ date_from_filter }}&date_to={{ date_to_filter }}&status={{ status_filter }}&page={{ users.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for i in users.paginator.page_range %}
            {% if i >= users.number|add:"-2" and i <= users.number|add:"2" %}
            <li class="page-item {% if users.number == i %}active{% endif %}">
                <a class="page-link" href="?username={{ username_filter }}&date_from={{ date_from_filter }}&date_to={{ date_to_filter }}&status={{ status_filter }}&page={{ i }}">
                    {{ i }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
            {% if users.has_next %}
            <li class="page-item">
                <a class="page-link" href="?username={{ username_filter }}&date_from={{ date_from_filter }}&date_to={{ date_to_filter }}&status={{ status_filter }}&page={{ users.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>





<!-- Status Block Popup -->
<div class="overlay" id="statusblockOverlay" style="display: none;">
  <div id="statusblockpopupCard" class="text-center mt-3">
      <h5 class="mb-3">Inactivate User</h5>
      <p class="mb-3">Are you sure you want to Inactivate?</p>
      <form id="statusblockForm" method="POST">
          {% csrf_token %}
          <input type="hidden" name="action" value="block">
          <div class="row">
              <div class="col">
                  <button type="button" class="btn btn-secondary btn-block btn-sm" onclick="hideStatusBlockPopup()" id="block-cancel"
                          style="background: #ddd; color: #000; border-radius: 19px; padding: 10px;">Cancel</button>
              </div>
              <div class="col">
                  <button type="submit" class="btn btn-block btn-sm" id="block-button"
                          style="background: #f04438; color: white; border-radius: 19px; padding: 10px;"><span id="blockLoader" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>Inactivate
                  </button>
              </div>
          </div>
      </form>
  </div>
</div>

<!-- Status Unblock Popup -->
<div class="overlay" id="statusunblockOverlay" style="display: none;">
  <div id="statusunblockpopupCard" class="text-center mt-3">
      <h5 class="mb-3">Activate User</h5>
      <p class="mb-3">Are you sure you want to Activate?</p>
      <form id="statusunblockForm" method="POST">
          {% csrf_token %}
          <input type="hidden" name="action" value="unblock">
          <div class="row">
              <div class="col">
                  <button type="button" class="btn btn-secondary btn-block btn-sm" onclick="hideStatusUnblockPopup()" id="unblock-cancel"
                          style="background: #ddd; color: #000; border-radius: 19px; padding: 10px;">Cancel</button>
              </div>
              <div class="col">
                  <button type="submit" class="btn btn-block btn-sm" id="unblock-button"
                          style="background: #f04438; color: white; border-radius: 19px; padding: 10px;"><span id="unblockLoader" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>Activate
                  </button>
              </div>
          </div>
      </form>
  </div>
</div>
<!-- Delete User Popup -->
<div class="overlay" id="deleteuserOverlay">
  <div id="deleteuserpopupCard" class="text-center mt-3">
      <h5 class="mb-3">Delete User</h5>
      <p class="mb-3">Are you sure you want to delete this user?</p>
      <form id="deleteuserForm" method="post">
          {% csrf_token %}
          <div class="row">
              <div class="col">
                  <button type="button" class="btn btn-secondary btn-block btn-sm" onclick="hideDeleteUserPopup()"
                          style="background: #ddd; color: #000; border-radius: 19px; padding: 10px;">Cancel
                  </button>
              </div>
              <div class="col">
                  <button type="button" class="btn btn-block btn-sm" id="delete-button"
                          style="background: #a7364b; color: white; border-radius: 19px; padding: 10px;"
                          onclick="confirmDeleteUser()"><span id="deleteLoader" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>Delete
                  </button>
              </div>
          </div>
      </form>
  </div>
</div>

<script>
    function applyFiltersWithDelay() {
        clearTimeout(window.filterTimeout);
        window.filterTimeout = setTimeout(function() {
            document.querySelector('form').submit();
        }, 500);
    }

    
    function clearFilters() {
        document.getElementById('search-bar').value = '';
        document.getElementById('start-date-selector').value = '';
        document.getElementById('end-date-selector').value = '';
        document.getElementById('status-select').value = 'All';
        document.querySelector('form').submit();
    }
    
    function downloadCSV() {
        const loader = document.getElementById('loader');
        loader.style.display = 'inline-block';
        setTimeout(function() {
            loader.style.display = 'none';
            window.location.href = url;
        }, 1000);
    }
  
  // Function to show the block user popup
function showStatusBlockPopup(url) {
  document.getElementById('statusblockOverlay').style.display = 'block';
  document.getElementById('statusblockForm').action = url; // Set the form action to the URL for blocking
}

// Function to hide the block user popup
function hideStatusBlockPopup() {
  document.getElementById('statusblockOverlay').style.display = 'none';
}

// Function to show the unblock user popup
function showStatusUnblockPopup(url) {
  document.getElementById('statusunblockOverlay').style.display = 'block';
  document.getElementById('statusunblockForm').action = url; // Set the form action to the URL for unblocking
}

// Function to hide the unblock user popup
function hideStatusUnblockPopup() {
  document.getElementById('statusunblockOverlay').style.display = 'none';
}

// Function to handle the block user form submission
function confirmStatusBlock() {
  var form = document.getElementById('statusblockForm');
  var loader = document.getElementById('blockLoader');
  var button = document.getElementById('block-button');

  loader.style.display = 'inline-block';
  button.disabled = true;

  // Submit the form via AJAX
  fetch(form.action, {
      method: 'POST',
      body: new FormData(form),
      headers: {
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': form.querySelector('input[name="csrfmiddlewaretoken"]').value
      }
  })
  .then(response => {
      if (response.ok) {
          window.location.href = '{% url "customadmin:admin_dashboard" %}'; 
      } else {
          alert('Failed to block user. Please try again.');
      }
  })
  .catch(error => {
      console.error('Error:', error);
      alert('Failed to block user. Please try again.');
  })
  .finally(() => {
      loader.style.display = 'none';
      button.disabled = false;
      hideStatusBlockPopup();
  });
}

// Function to handle the unblock user form submission
function confirmStatusUnblock() {
  var form = document.getElementById('statusunblockForm');
  var loader = document.getElementById('unblockLoader');
  var button = document.getElementById('unblock-button');

  loader.style.display = 'inline-block';
  button.disabled = true;

  // Submit the form via AJAX
  fetch(form.action, {
      method: 'POST',
      body: new FormData(form),
      headers: {
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': form.querySelector('input[name="csrfmiddlewaretoken"]').value
      }
  })
  .then(response => {
      if (response.ok) {
          window.location.href = '{% url "customadmin:admin_dashboard" %}'; // Redirect to user management page
      } else {
          alert('Failed to unblock user. Please try again.');
      }
  })
  .catch(error => {
      console.error('Error:', error);
      alert('Failed to unblock user. Please try again.');
  })
  .finally(() => {
      loader.style.display = 'none';
      button.disabled = false;
      hideStatusUnblockPopup();
  });
}

// Function to show the delete user popup
function showDeleteUserPopup(url) {
  document.getElementById('deleteuserOverlay').style.display = 'block';
  document.getElementById('deleteuserForm').action = url; // Set the form action to the URL for deletion
}

// Function to hide the delete user popup
function hideDeleteUserPopup() {
  document.getElementById('deleteuserOverlay').style.display = 'none';
}

// Function to handle the delete user form submission
function confirmDeleteUser() {
  var form = document.getElementById('deleteuserForm');
  var loader = document.getElementById('deleteLoader');
  var button = document.getElementById('delete-button');

  loader.style.display = 'inline-block';
  button.disabled = true;

  // Submit the form via AJAX
  fetch(form.action, {
      method: 'POST',
      body: new FormData(form),
      headers: {
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': form.querySelector('input[name="csrfmiddlewaretoken"]').value
      }
  })
  .then(response => {
      if (response.ok) {
          window.location.href = '{% url "customadmin:admin_dashboard" %}'; // Redirect to user management page
      } else {
          alert('Failed to delete user. Please try again.');
      }
  })
  .catch(error => {
      console.error('Error:', error);
      alert('Failed to delete user. Please try again.');
  })
  .finally(() => {
      loader.style.display = 'none';
      button.disabled = false;
      hideDeleteUserPopup();
  });
}

  
  </script>

{% endblock %}
