{% extends "customadmin/admin-index.html" %}
{% block title %}Password Change Done{% endblock %}
{% block content %}
    <div class="container col-md-6 mt-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Password Changed Successfully</h5>
                <p>Your password has been updated. You can now <a href="{% url 'Login' %}" id="login-link">log in</a> with your new password.</p>
                <p class="mt-2"><small>You will be redirected to the login page in <span id="timer">5</span> seconds...</small></p>
            </div>
        </div>
    </div>
{% endblock %}   
