{% extends 'customadmin/nav.html' %}
{% load static %}
{% block title %}Contact Us List{% endblock %}
{% block body %}

<!-- Header Section -->
<div class="my-5 d-flex flex-column col-sm-10 flex-md-row justify-content-between" id="header">
    <h1>List of Leads</h1>
</div>

<!-- Filter Form -->
<div class="col-md-12 new-class">
  <form method="get" class="row g-3">
      <div class="form-row">
        <div class="form-group col-md-6 col-lg-4 col-xl-3">
          <label for="name" class="mr-2">Search:</label>
          <input type="text" class="form-control" id="search-bar" name="name" maxlength="30" value="{{ name_filter }}"
            placeholder="Search By Contact Name" onkeyup="applyFiltersWithDelay()">
        </div>
  
        <div class="form-group col-md-6 col-lg-3 col-xl-2">
          <label for="start-date-selector" class="mr-2">From:</label>
          <input type="datetime-local" class="form-control" id="start-date-selector" name="date_from" value="{{ date_from_filter }}" onchange="applyFiltersWithDelay()">
        </div>
  
        <div class="form-group col-md-6 col-lg-3 col-xl-2">
          <label for="end-date-selector" class="mr-2">To:</label>
          <input type="datetime-local" class="form-control" id="end-date-selector" name="date_to" value="{{ date_to_filter }}" min="{{ date_from_filter }}" onchange="applyFiltersWithDelay()">
        </div>
  
        <div class="form-group col-md-6 col-lg-3 col-xl-1 clear-div">
          <button type="button" class="btn btn-secondary btn-block mb-2 mt-md-0" id="clear-button"
            onclick="clearFilters()" {% if not name_filter and not date_from_filter and not date_to_filter  %}{% endif %}>Clear</button>
        </div>
        
        <div class="form-group col-md-6 col-lg-3 col-xl-1 clear-div">
          <button type="submit" style="background-color: #f04438; color: white; text-decoration: none;" class="btn btn-block mb-2 mt-md-0" id="clear-button">Search</button>
        </div>
        
        <div class="form-group col-md-6 col-lg-3 col-xl-2 download-csv">
          <a href="?name={{ name_filter }}&date_from={{ date_from_filter }}&date_to={{ date_to_filter }}&status={{ status_filter }}" class="btn btn-primary btn-block mb-2 mt-md-0" id="download-csv-button">
              <span id="loader" style="display:none;"><i class="fa fa-spinner fa-spin"></i></span>
              Download CSV
          </a>
        </div>
      </div>
  </form>

  <!-- Contact Us Table -->
  <div class="table-container mt-4 text-left">
    {% if page_obj %}
    <table class="table table-hover" style="width: 100%; border-collapse: collapse;">
      <thead style="background-color: #f04438; color: white;">
        <tr>
          <th>Contact Name</th>
          <th>Email Address</th>
          <th>Phone Number</th>
          <th>Date Submitted</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in page_obj.object_list %}
        <tr>
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.phone }}</td>
          <td>{{ contact.created_at }}</td>
          <td>
            <a href="{% url 'customadmin:contact_us_detail' contact.id %}" class="mr-1" title="View User Details">
                <i class="fas fa-eye" style="font-size: 24px; color: #f04438;"></i>
            </a> 
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6" class="text-center">No contact_us_entries found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="no-data">
      <img src="{% static 'images/no_data.jpg' %}" alt="No data available" style="max-width: 40%; height: auto;">
    </div>
    {% endif %}
  </div>

  <!-- Pagination -->
  {% if page_obj.paginator.num_pages > 1 %}
  <nav aria-label="Page navigation" class="d-flex justify-content-center">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?name={{ name_filter }}&date_from={{ date_from_filter }}&date_to={{ date_to_filter }}&status={{ status_filter }}&page=1" aria-label="First" style="background-color: #f04438; color: white; padding: 10px; border-radius: 5px; text-decoration: none;">
            &laquo;&laquo;
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?name={{ name_filter }}&date_from={{ date_from_filter }}&date_to={{ date_to_filter }}&status={{ status_filter }}&page={{ page_obj.previous_page_number }}" aria-label="Previous" style="background-color: #f04438; color: white; padding: 10px; border-radius: 5px; text-decoration: none;">
            &laquo;
          </a>
        </li>
      {% endif %}

      {% for i in page_obj.paginator.page_range %}
        {% if i >= page_obj.number|add:"-2" and i <= page_obj.number|add:"2" %}
          <li class="page-item {% if page_obj.number == i %}active{% endif %}">
            <a class="page-link" href="?name={{ name_filter }}&date_from={{ date_from_filter }}&date_to={{ date_to_filter }}&status={{ status_filter }}&page={{ i }}" style="{% if page_obj.number == i %}background-color: #f04438; color: white;{% endif %} padding: 10px; border-radius: 5px; text-decoration: none;">
              {{ i }}
            </a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?name={{ name_filter }}&date_from={{ date_from_filter }}&date_to={{ date_to_filter }}&status={{ status_filter }}&page={{ page_obj.next_page_number }}" aria-label="Next" style="background-color: #f04438; color: white; padding: 10px; border-radius: 5px; text-decoration: none;">
            &raquo;
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?name={{ name_filter }}&date_from={{ date_from_filter }}&date_to={{ date_to_filter }}&status={{ status_filter }}&page={{ page_obj.paginator.num_pages }}" aria-label="Last" style="background-color: #f04438; color: white; padding: 10px; border-radius: 5px; text-decoration: none;">
            &raquo;&raquo;
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>

{% endblock %}
